<!DOCTYPE html>
<html>
  <head>
    <title>Previsão de Valor de Imóvel</title>
  </head>
  <body>
    <h1>Previsão de Valor com base na Renda Média</h1>

    <form method="POST">
      {% csrf_token %}
      <label for="average_salary">Digite a Renda Média (average_salary):</label>
      <input type="number" step="0.01" name="average_salary" id="average_salary" required />
      <button type="submit">Fazer Previsão</button>
      <button type="button" id="analysisButton">Fazer Análise</button>
      <button type="button" id="mapButton">Mostrar Mapa</button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_csv' %}">
      {% csrf_token %}
      <label for="file">Arquivo para retreinamento:</label>
      <input type="file" name="file" id="file" required accept=".csv" />
      <button type="submit">Enviar</button>
    </form>

    <button type="button" id="mapButton">Mostrar Mapa</button>

    <h2>Resultado da Previsão:</h2>
    <p>Renda Média: R${{ result.average_salary|floatformat:2 }}</p>
    <p>Valor Predito da Casa: R${{ result.predicted_value|floatformat:2 }}</p>

    <p id="analysisMessage" style="color: green"></p>

    <script>
      document.getElementById('analysisButton').onclick = function () {
        fetch("{% url 'analisar_csv' %}", {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          },
        })
          .then((response) => response.blob())
          .then((blob) => {
            const imageUrl = URL.createObjectURL(blob)

            const imgElement = document.createElement('img')
            imgElement.src = imageUrl

            imgElement.style.width = '100%'
            imgElement.style.height = 'auto'

            document.getElementById('analysisMessage').innerHTML = ''
            document.getElementById('analysisMessage').appendChild(imgElement)
          })
          .catch((error) => {
            document.getElementById('analysisMessage').style.color = 'red'
            document.getElementById('analysisMessage').textContent = 'Erro na requisição.'
          })
      }

      document.getElementById('mapButton').onclick = function () {
        window.location.href = '/mapa_casas'
      }
    </script>

    <style>
      #analysisMessage img {
        width: 1920px;
        height: 1080px;
      }
    </style>
  </body>
</html>
